body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card{
    width: 400px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: #2b2839;
    
    border-bottom: 5px solid #d8cefe;
    border-radius: 10px;

    text-align: center;
    background-color: #f2e9e4;
}
.avatar{
    height: 180px;
    width: 150px;
}

/* .flag-border{
    margin-top: 50px;
    border: 5px solid #000000;
    height: 200px;
    width: 300px;
} */

.circle{
    
    align-self: center;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background: #bc002d;

    margin: 40px auto 40px auto;
}